<launch>

	<node pkg="emergency_stop" name="emergency_stop" output="screen" respawn="false" type="main.py"/>
	
	<include file="$(find freenect_launch)/launch/freenect.launch"/>
	<include file="$(find turtlebot_bringup)/launch/minimal.launch"/>
	<include file="$(find turtlebot_custom)/launch/gmapping_lidar.launch"/>
	<include file="$(find turtlebot_custom)/launch/lidar.launch"/>
	<include file="$(find tfpose_ros)/launch/kinect.launch"/>
	<include file="$(find respeaker_ros)/launch/respeaker.launch"/>

	<include file="$(find yes_no_recognition)/launch/yes_no_recognition.launch"/>

	<include file="$(find sound_system)/launch/navigation_nlp.launch"/>
	<include file="$(find sound_system)/launch/log.launch"/>
	<include file="$(find sound_system)/launch/hotword.launch"/>
	<include file="$(find sound_system)/launch/speak.launch"/>
	<include file="$(find sound_system)/launch/sphinx.launch"/>
	<include file="$(find navigation)/launch/navigation.launch"/>
	<include file="$(find navigation)/launch/navigation_human_detection.launch"/>
	<node pkg="location" name="location" type="location_manager.py" output="screen">
  		<param name="info_file" value="room.txt"/>
  	</node>
  	<node pkg="rest_judge_bar" name="rest_judge_bar" type="judge_bar.py" output="screen"/>
	<node pkg="move" name="MovementVelocityDesignation" output="screen" respawn="false" type="MovementVelocityDesignation"/>
	<node pkg="move" name="MovementAmountDesignation" output="screen" respawn="false" type="MovementAmountDesignation"/>
    <node pkg="human_detection" name="human_detection" output="screen" respawn="false" type="human_detection_main"/>
   	<node pkg="call_ducker" name="call_ducker" output="screen" respawn="false" type="main.py"/>
	<node pkg="rest_call_ducker" name="rest_call_ducker" output="screen" respawn="false" type="rest_call_ducker.py"/>

    <!-- <include file="$(find rest_find_sound)/launch/rest_find_sound.launch"/> -->
    <!-- <node pkg="rest_respond_human" name="rest_respond_human" output="screen" respawn="false" type="respond_human_main.py"/> -->
    <include file="$(find restaurant_get_order)/launch/rest_sphinx.launch"/>
    <include file="$(find rest_here_you_are)/launch/rest_here_you_are.launch"/>
    <include file="$(find rest_nlp_finish)/launch/rest_nlp_finish.launch"/>

</launch>
